html, body {
    height: 100%;
}* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
};

img { 
  height: auto; 
  width: 100%; 
}

body {
  background: url(https://images.unsplash.com/photo-1507237081139-5dfb209dba79?w=2920);
  background-size: cover;
}